name: Build and test on pull-request

on:
  push:
    branches:
      - 'main'

jobs:

  run-tests-and-build:
    environment: CI/CD

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Ubuntu dependency
        run: |
          sudo apt-get install libportaudio2 -y

      - name: Install module
        run: |
          pip install --no-cache-dir wheel

      - name: build wheel
        run: |
          python -m build --wheel --outdir dist/ .

      - name: Upload wheel artifact
        uses: actions/upload-artifact@v4
        with:
          name: wheel-artifact
          path: dist/*.whl
