name: Build and test on pull-request

on:
  pull_request:
    branches:
      - main

jobs:

  run-tests-and-build:
    environment: CI/CD

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install Ubuntu dependency
        run: |
          sudo apt-get install libportaudio2 -y

      - name: Install module
        run: |
          pip install --no-cache-dir wheel
          pip install --no-cache-dir -e .[dev]

      - name: Run tests
        run: |
          make run-tests

      - name: Run e2e tests
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}

        run: |
          make install-dependencies-e2e-tests
          make run-e2e-tests

      - name: build wheel
        run: |
          python -m build --wheel --outdir dist/ .
